@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --font-size: 15px;

    --font-family-big: "Big Shoulders Display", sans-serif;
    --font-family-lex: "Lexend Deca", sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-size: var(--font-size);
    font-family: var(--font-family-lex);
    margin: 0 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
}

.sedans {
    background: var(--bright-orange);
}

.suvs {
    background: var(--dark-cyan);
}

.luxury {
    background: var(--very-dark-cyan);
}

section {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.sedans {
    border-radius: 10px 0 0 10px;
}

section.luxury {
    border-radius: 0 10px 10px 0;
}

.data h1 {
    text-transform: uppercase;
    margin-top: 15px;
    color: var(--very-light-gray);
    font-family: var(--font-family-big);
    font-weight: 700;
    font-size: 28px;
}

.data p {
    color: var(--transparent-white);
    font-size: 12px;
    line-height: 1.5;
    padding-right: 50px;
    margin-top: 15px;
}

button {
    margin-top: 50px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.sedans__button {
    color: var(--bright-orange);
}

.suvs__button {
    color: var(--dark-cyan);
}

.luxury__button {
    color: var(--very-dark-cyan);
}

img {
    transform: scale(0.8)
}

button:hover{
    background-color: transparent;
    color: white;
    border: solid 1px white;
}

@media only screen and (max-width: 630px) and (min-width: 516px){
    .data p{
        padding-right: 14px;
    }
}

@media only screen and (max-width: 515px) {
    body {
        padding: 10px 0;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 400px;
    }

    section.sedans {
        border-radius: 10px 10px 0 0;
    }

    section.luxury {
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 375px) {
    main{
        max-width: 275px;
    }

    button{
        margin: 20px 0;
    }

    .data p{
        padding-right: 40px;
    }
}
